@charset "UTF-8";
@keyframes shiny {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體";
}

body {
  background-color: #3DBFBB;
}

.container {
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 50px;
}
header p {
  padding-top: 20px;
}
header p span {
  font-size: 32px;
  font-weight: bold;
  margin: 0 5px;
}

section.lottery {
  width: 540px;
  margin: 20px auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 20px #F52037, 23px 23px 30px 1px #333;
  background: #c0091c;
}
@media screen and (max-width: 767px) {
  section.lottery {
    width: 360px;
    box-shadow: 0px 0px 0px 15px #F52037, 18px 18px 30px 1px #333;
  }
}
section.lottery ul {
  width: 100%;
  height: 540px;
}
@media screen and (max-width: 767px) {
  section.lottery ul {
    height: 360px;
  }
}
section.lottery ul li {
  height: 180px;
  width: 33%;
  list-style: none;
  text-align: center;
  position: absolute;
  display: block;
  border: 3px solid #c0091c;
  box-sizing: border-box;
  background: #fff;
  font-size: 19.2px;
  border-radius: 15px;
  box-shadow: 0px -5px #fcb2ba inset;
}
section.lottery ul li.shiny {
  animation: shiny 1s linear infinite alternate;
  -webkit-animation: shiny 1s linear infinite alternate;
}
@media screen and (max-width: 767px) {
  section.lottery ul li {
    height: 120px;
    font-size: 16px;
  }
}
section.lottery ul li.active {
  font-weight: bold;
  background-color: #ffd79a;
  box-shadow: 0px -5px #FF9A01 inset;
}
section.lottery ul li.item-1 {
  top: 0.5%;
  left: 0.5%;
}
section.lottery ul li.item-2 {
  top: 0.5%;
  left: 50%;
  transform: translateX(-50%);
}
section.lottery ul li.item-3 {
  top: 0.5%;
  right: 0.5%;
}
section.lottery ul li.item-4 {
  top: 50%;
  transform: translateY(-50%);
  right: 0.5%;
}
section.lottery ul li.item-5 {
  bottom: 0.5%;
  right: 0.5%;
}
section.lottery ul li.item-6 {
  bottom: 0.5%;
  left: 50%;
  transform: translateX(-50%);
}
section.lottery ul li.item-7 {
  bottom: 0.5%;
  left: 0.5%;
}
section.lottery ul li.item-8 {
  top: 50%;
  transform: translateY(-50%);
  left: 0.5%;
}
section.lottery ul li img {
  width: 85px;
  margin: 30px 0 10px;
}
@media screen and (max-width: 767px) {
  section.lottery ul li img {
    width: 50px;
    margin: 20px 0 2px;
  }
}
section.lottery .lottery_btn {
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
section.lottery .lottery_btn button {
  font-weight: bold;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  width: 95%;
  height: 156.5217391304px;
  top: -8px;
  color: #341f00;
  font-size: 40px;
  background-color: #FF9A01;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 3px 0px #ffe1b4, 0px 8px 0px #cd7b00;
}
@media screen and (max-width: 767px) {
  section.lottery .lottery_btn button {
    height: 102.8571428571px;
    font-size: 24px;
    top: -8px;
    box-shadow: inset 0px 3px 0px #ffe1b4, 0px 6px 0px #cd7b00;
  }
}
section.lottery .lottery_btn button:disabled {
  cursor: default;
  background-color: #ffb84e;
}
section.lottery .lottery_btn button::before {
  content: "";
  background-color: #341f00;
  width: 97%;
  height: 95%;
  padding: 0px 6px 10px;
  position: absolute;
  bottom: -16px;
  left: -3px;
  border-radius: 5px;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  section.lottery .lottery_btn button::before {
    width: 95%;
    bottom: -14px;
  }
}
section.lottery .lottery_btn button:active, section.lottery .lottery_btn button:disabled {
  margin: 13px auto;
  box-shadow: inset 0px 1px 0px #ffe1b4, 0px 0px 0px #cd7b00;
  top: 0px;
}
section.lottery .lottery_btn button:active::before, section.lottery .lottery_btn button:disabled::before {
  bottom: -8px;
}
@media screen and (max-width: 767px) {
  section.lottery .lottery_btn button:active::before, section.lottery .lottery_btn button:disabled::before {
    bottom: -6px;
  }
}